body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
}
.side-content{
    display: none;
    overflow-x: hidden;
    background: linear-gradient(0deg , #ba54f5 0%, #e14eca 100%);
    width: 230px;
    height: calc(100vh - 90px);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    display: none;
    box-shadow: 0px 0px 45px 0px rgb(0 0 0 / 60%);
    margin-top: 85px;
    margin-left: 20px;
    border-radius: 5px;
}
.side-content .side-head .text{
    cursor: pointer;
    opacity: 1;
    text-transform: uppercase;
    padding: 0.5rem 0.2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
}
.side-content .side-head{
    position: relative;
    padding: 0.5rem 0.7rem;
    z-index: 4;
}
.side-content .side-head i{
    cursor: pointer;
    color: white;
    margin-top: 7px;
    margin-right: -15px;
    font-size: 20px;
    width: 34px;
    float: right;
}
.side-content .side-head:after{
    content: '';
    position: absolute;
    top: 40px;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255 , 255 , 255 , 0.5);
}
.side-content .nav-list{
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
}
.side-content .nav-list a{
    font-weight: 400;
    font-size: 0.62475rem;
    line-height: 1.625rem;
    cursor: pointer;
    border-radius: 30px;
    color: rgba(255 , 255 , 255 , 0.8);
    display: block;
    text-decoration: none;
    transition: all 300ms ease 0s;
}
.side-content .nav-list li{
    text-align: left;
    margin: 30px;
}
.side-content .nav-list i{
    font-size: 20px;
    width: 34px;
    text-align: center;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    position: relative;
}
.btn-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #343A40;
}
.btn{
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    padding: 20px;
}
.opn{
    cursor: pointer;
    color: white;
    border: none;
    background: #343A40;
    font-size: 20px;
    padding: 10px 15px;
}